<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DatabasePath" value="C:\Users\Hannes\source\repos\Coding-Tracker-JVR-Hannes\Coding-Tracker-JVR-Hannes\"/>
    </appSettings>
    <connectionStrings>
        <add name="MySQLiteConnectionString"
             connectionString="Data Source=C:\Users\Hannes\source\repos\Coding-Tracker-JVR-Hannes\Coding-Tracker-JVR-Hannes\coding-Tracker.db; Version=3;"
             providerName="System.Data.SQLite"/>
    </connectionStrings>
</configuration>